* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    
}

div#test{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border:#5AB029 3px solid;
    padding:10px 40px 40px 40px;
    background-color:#E5FCE3;
    width:80%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: beige;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
    background-color: cyan;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

img {
    width: 350px;
    height: 350px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 100px;
}

.quiz-box {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 500px;
    margin: 12px;
    flex-direction: column;
    justify-content: flex-start;
    border: black;
    border-style: solid;
    background-color: #efefef;
    line-height: 20px;
}

.side-box {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 500px;
    margin: 12px;
    flex-direction: column;
    justify-content: right;
    border: black;
    background-color: #efefef;
    text-align: left;
    border-style: solid;
}

.timer {
    margin: 20px;
    text-align: center;
    font-weight: 500;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #efefef;
    text-align: center;
    border-style: solid;
}

button {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 100px;
    margin: 20px;
}